/**** General ****/
body {
	background: #fff;
	color: #275257;
	font-size: 13px;
	overflow-x: hidden;
}

a {
	color: #275257;
	text-decoration: none;
	cursor: pointer
}

a,
a:hover {
	transition-duration: .7s;
	-moz-transition-duration: .7s;
	-webkit-transition-duration: .7s;
	-o-transition-duration: .7s;
}


/**** Schriftarten ****/
body, .links  {
   	font-family: 'Segoe UI', sans-serif; 
}

header h1, .headline h1, h5 {
    	font-family: 'Comfortaa', sans-serif;
}

.headline h2 {
   	font-family: 'Caveat Brush', cursive;
}


/**** Topbar ****/
.topbar {
    	position: fixed;
    	z-index: 999;
    	width: 100vw;
	height: 3vh; 
	right: 0;
	left: 0;
	top: 0;
	margin: 0 auto;
	padding: 0;
	background: #6f958c; /*farbe*/
}


/**** Header ****/
header {
	position: fixed;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
	right: 0;
	left: 0;
	top: 3vh;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background: #fff; /*farbe*/
	box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .08); /*schatten*/
}

.title,
.links,
.buttons {
	display: inline-flex;
	align-items: center;
	height: 100%;
}

/** title + logo **/
.title {
    	width: 270px;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 30px;
}

header img {
	height: 7.5vh; /*größe des logos*/
	width: auto;
	margin-right: 25px;
	border-radius: 4px; /*bildrundung*/
}

header h1 {
	font-size: 1.6em; /*größe des titels*/
	text-transform: uppercase;
	letter-spacing: 1px;
}

/** navigation **/
.links {
    	max-width: calc(100% - 270px - 160px - 20px);
	justify-content: space-around;
	box-sizing: border-box;
	font-size: 1.2em; /*größe der links*/
}

.links a {
   	display: inline-flex;
	align-items: center;
	height: 100%;
	margin-right: 50px;
	padding-top: 2px;
	font-weight: 600;
	color: #265157; /*linkfarbe*/
	border-bottom: 2px solid transparent;
}

.links a:hover {
    	color: #70958b; /*linkfarbe beim hovern*/
	border-bottom: 2px solid #70958b;
}

.links a:last-of-type {
	margin-right: 0;
}

/** buttons **/
.buttons {
	justify-content: flex-end;
	width: 20vh; /*größe der buttons*/
}

.buttons a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vh;
	height: 100%;
	text-align: center;
}

.buttons a:first-of-type {
	background: #275257; /*farbe des home buttons*/
	color: #fff;
}

.icons {
	font-size: 1.7em; /*größe der icons*/
}

.buttons a i {
	transition: transform .7s ease-in-out;
}

.buttons a:hover i {
	transition: 0.9s;
	transform: rotateY(180deg);
}


/**** Mobile Menu ****/
#mobile-menu {
	display: none;
}

.menu {
    	position: fixed;
    	display: none;
    	z-index: 999;
	width: 30vh;
	right: 0;
	top: 13vh;
	box-sizing: border-box;
	background: #6f958c; /* hintergrundfarbe*/
}

.menu a {
	display: block;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	font-weight: 600;
	font-size: 1.2em;
	color: #fff; /*linkfarbe*/
	border-bottom: 2px solid #fff;
}

.menu a:hover {
	background: #275257;/*hintergrundfarbe beim hovern*/
}

.menu a:last-of-type {
	border-bottom: 0;
}


/**** Content ****/
.section-wrapper {
	position: absolute;
	width: 100vw;
	height: auto;
	top: 13vh;
	left: 0;
	right: 0;
	margin: 0;
}

.section {
    	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 500px;
	font-size: 1.2em; /*schriftgröße*/
	background: #fff;
}


/**** First Section (Intro) ****/
.image {
   	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.image img {
	width: 500px; /*größe des bildes*/
	max-width:100%;
	box-shadow:-35px -35px 0px 6px rgba(221,237,236,.8); /*schattenfarbe und größe*/
}

.headline {
	width: 50%;
}

.headline h1 { /*titel*/
    	margin: 0;
	font-size: 2.5em; /*schriftgröße*/
	text-transform: uppercase;
	letter-spacing: 1px;
}

.headline h2 { /*untertitel*/
    	margin: 5px 0 0 0;
	font-size: 1.6em; /*schriftgröße*/
	font-weight: normal;
}


/**** Second Section (Text) ****/
.description {
    	justify-content: center;
	background: #6f958c;
}

.section span {
	width: 50%;
	margin-right: 120px;
	line-height: 20px;
	text-align: justify; /*textausrichtung*/
	color: #fff; /*schriftfarbe*/
}

.section span b { /*fetter text*/
    	color:#fbd098;
}

.section span a { /*links*/
    	color:#fff;
    	box-shadow:0 -4px 0 #fbd098 inset;
}

.section span a:hover {
    	color:#275257;
    	box-shadow:0 -17px 0 #fbd098 inset;
}

.section .button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 47% 53% 67% 33% / 51% 52% 48% 49%;
	font-weight: bold;
	background: #fff; /*button hintergrund*/
}

.section .button:hover {
	border-radius: 47% 53% 53% 47% / 40% 61% 39% 60%
}


/**** Third Section (Footer) ****/
.footer {
	height: 300px; /*größe*/
	background-image: url('https://i.imgur.com/gxDtZDq.png'); /*fisch*/
	background-repeat: no-repeat;
	background-size: 200px; /*fisch größe*/
	background-position: right bottom; /*fisch position*/
}

.logo,
.footer-links,
.footer-buttons {
    	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 150px;
}

h5 {
    	margin: 0;
    	padding-left: 10px;
	font-size: .9em;
	text-transform: uppercase;
	border-left: 2px solid #275257; /*überschrift border (links)*/
}

@supports (-webkit-text-stroke: 1px black) {
	h5 {
		-webkit-text-stroke: .5px #275257;
	}
}

/*logo*/
.section .logo img {
    	display: block;
	width: 85px; /*logo größe*/
	margin: 15px auto auto 0;
	border-radius: 4px; /*bildrundung*/
}

.logo {
	letter-spacing: 1px;
}

/*links*/
.footer-links a {
	display: block;
	margin-bottom: 15px;
	text-align: left;  /*textausrichtung*/
	font-weight: 600;
	letter-spacing: .5px;
}

.footer-links a:hover {
	color: #6f958c;  /*linkfarbe on hover*/
}

.footer-links a:last-of-type {
	margin-bottom: 0;
}

/*buttons*/
.footer-buttons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 1.5em;
	background: #275257; /*hintergrundfarbe*/
	color: #fff; /*icon farbe*/
}

.footer-buttons a i {
	transition: transform .7s ease-in-out;
}

.footer-buttons a:hover i {
	transition: 0.9s;
	transform: rotateY(180deg);
}

.f-buttons, .f-links {
	margin: auto;
}


/**** Copyright Line ****/
.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh; /*größe*/
	background: #f6f6f6; /*hintergrundfarbe*/
}


/**** Anpassungen für Bildschirmgrößen ****/
@media only screen and (max-width: 1050px) {
 	.image img {
     		width:380px;
     		box-shadow:-25px -25px 0px 6px rgb(221 237 236 / 80%);
	} 
	
}

@media only screen and (max-width: 900px) {

	.links {
		display: none;
	}

	.title {
		width: calc(100% - 30vh);
	}

	.buttons {
		width: 30vh;
	}


	#mobile-menu {
		display: flex;
		background: #dfefee; /*mobile menu buttonfarbe*/
	}
	
	.image img {
     		width:300px;
     		box-shadow:-20px -20px 0px 6px rgb(221 237 236 / 80%);
 	}

}

@media only screen and (max-width: 650px) {

	.topbar {
		height: 2vh;
	}

	header {
		height: 8vh;
		top: 2vh;
	}

	header img {
		height: 6vh;
	}

	.title {
		padding-left: 10px;
	}

	.buttons {
		width: 24vh;
	}

	.buttons a {
		width: 8vh;
	}

	.section-wrapper {
		top: 10vh;
	}

	.menu {
		top: 10vh;
	}

	.section {
		height: auto;
		padding: 30px;
		box-sizing: border-box;
	}

	.section span {
		margin-right: 45px;
		text-align: left;
	}

	.section:first-of-type {
		justify-content: space-between;
		height: 400px;
	}

	.image {
		width: auto;
		margin:25px 0 10px 0;
	}

	.headline {
		width: calc(100% - 230px - 80px)
	}

	.image img {
		width: 230px;
		margin: 20px;
		box-shadow:-15px -15px 0px 6px rgb(221 237 236 / 80%);
	}

	.headline h1 {
		font-size: 2.5em;
	}

	.footer {
		background-size: 150px;
	}

}

@media only screen and (max-width: 600px) {

	.description,
	.intro {
		flex-direction: column;
	}

	.section:first-of-type {
		height: auto;
		justify-content: space-around;
	}

	.image img {
		width: 80%;
		margin: 0 0 20px 0;
	}

	.headline {
		width: 90%;
		text-align: center;
	}

	.section span {
		margin: 0 0 25px 0;
		width: 100%;
		text-align: center;
	}

	.section .button {
		width: 100%;
		height: 60px;
		border-radius: 7px;
	}

	.section .button:hover {
		border-radius: 7px;
		background: #275257;
		color: #fff;
	}


}

@media only screen and (max-width: 450px) {

	body {
		font-size: 14px;
	}

	header {
		height: 16vh;
		flex-direction: column;
	}

	.title {
		height: 8vh;
		width: 100%;
	}

	header img {
		height: 5vh;
	}

	.buttons {
		width: 100%;
		height: 8vh;
	}

	.buttons a {
		width: calc(100% / 3);
		background: #dfefee;
	}

	#mobile-menu {
		background: #275257;
		color: #fff;
	}

	.menu {
		top: 18vh;
		width: 100%;
	}

	.menu a {
		font-weight: bold;
	}

	.section-wrapper {
		top: 18vh;
	}

	.section {
		flex-direction: column;
		padding: 40px;
	}


	.footer {
		height: auto;
	}

	.logo {
		text-align: left;
	}

	.logo,
	.footer-links,
	.footer-buttons {
		width: 100%;
		height: auto;
	}

	.logo,
	.footer-links {
		margin-bottom: 35px;
	}

	.f-links,
	.footer-buttons .f-buttons {
		margin: 20px 0 0 0;
	}

	.footer-links a {
		display: inline;
		margin: 0 15px 0 0;
		font-weight: bold;
	}


}
